
@{

    ViewBag.Title = "Error";
    ViewBag.Message = "";
}

<div class="row">
    <div class="col-lg-1" style="text-align:right;vertical-align:middle">
        <img src="~/Content/images/CustomPages/oops.png" width="72" />
    </div>
    <div class="col-lg-11" style="text-align:left">
        <p>
            <b>Sorry - something seems to have gone wrong!</b>
            <br />
            <br />
            A message has automatically been sent to the development team who will take a look under the bonnet.
            Please bear with us.
        </p>
    </div>

</div>

