
@{
    ViewBag.Title = "GetEncryptedPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Type your User IDs (separated by ',') and click submit to get encrypted password:</p>
<textarea id="UserIDs" style="width:100%;max-width:100%;min-width:100%;height:250px"></textarea>
<p>Type your template and use {UserID} and {EncryptedPassword} to replace your information:</p>
<textarea id="Template" style="width:100%;max-width:100%;min-width:100%;height:250px">UPDATE aclUsers SET EncryptedPassword = '{EncryptedPassword}' WHERE UserID = {UserID}</textarea>
<div style="width:100%;text-align:center;padding:5px">
    <button class="k-button" id="selectbtn" onclick="Send()">Get Encrypted Password</button>
</div>

<div id="Info">

</div>

<script type="text/javascript">

    function Send() {
        str = $("#UserIDs").val().replace(/\s+/g, '').split(',');
        for (var i = 0; i < str.length; i++) {
            GetEncryptedPassword(parseInt(str[i]));
        }
    }

    function GetEncryptedPassword(UserID) {
        if (UserID != "NAN") {
            $.ajax({
                url: '/Account/GetEncryptedPasswordResult',
                type: 'POST',
                data: { 'UserID': UserID },
                async: true,
                success: function (data) {
                    $("#Info").append($("#Template").val().replace("{UserID}", UserID).replace("{EncryptedPassword}", data) + "<br>");
                },
                error: function () {
                    alert("something seems wrong");
                }
            });
        }
    }
</script>