
@{

    ViewBag.Title = "Not authorised";
    ViewBag.Message = "";
}
<br />
<br />
<div class="row">
    <div class="col-sm-3 col-md-2 col-lg-1" style="text-align:right;vertical-align:middle">
        <img src="~/Content/images/CustomPages/deny.png" width="72" />
    </div>
    <div class="col-sm-8 col-md-9 col-lg-10" style="text-align:left">
        <p>
            <b>It looks like you are not authorised to access this area!</b>
            <br />
            <br />
            Please contact your local administrator to check or amend your access level so you can continue.
        </p>
    </div>

</div>

