
@{

    ViewBag.Title = "Password recovered";
    ViewBag.Message = "";
}

<div class="row">

    <div class="col-lg-11" style="text-align:left">
        <p>
         <table>
             <tr>
                 <td><img src="~/Content/images/Functions/Badge%20-%20Frequent.png" /></td>
                 <td><b>            Great - you are good to go</b>
<br />
<b><a href="~/Account/Login">Click here</a> to get back to the log in page</b></td>
             </tr>
         </table>
            

        </p>
    </div>

</div>

