@{
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<p>Type your User IDs (separated by ',') and click submit to resend credentials:</p>
<textarea id="UserIDs" style="width:100%;max-width:100%;min-width:100%;height:250px">

</textarea>
<div style="width:100%;text-align:center;padding:5px">
    <button class="k-button" id="selectbtn" onclick="Send()">Send Credentials</button>
</div>

<div id="Info">

</div>

<script type="text/javascript">

    function Send() {
        str = $("#UserIDs").val().replace(/\s+/g, '').split(',');
        for (var i = 0; i < str.length; i++) {
            ResendCredentials(parseInt(str[i]));
        }
    }

    function ResendCredentials(UserID) {
        if (UserID != "NAN") {
            $("#Info").append("Sending notification to the user with ID " + UserID.toString() + "...<br>");
            $.ajax({
                url: '/Profiles/ResendCredentials',
                type: 'POST',
                data: { 'UserID': UserID },
                async: true,
                success: function (data) {
                    if (data == "True") {
                        $("#Info").append("Notification sent to the user with ID " + UserID.toString() + "<img src='../Content/images/tick.png' width='20' />" + "<br>");
                    }
                    else {
                        $("#Info").append("Unable to send notification to the user with ID " + UserID.toString() + "<img src='../Content/images/cross.png' width='20' />" + "<br>");
                    }
                },
                error: function () {
                    alert("something seems wrong");
                }
            });
        }
    }
</script>