
@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_OnlyLogoLayout.cshtml";
}


<div class=WordSection1>


    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:33.0pt;mso-outline-level:
1;background:white'>
        <b>
            <span lang=EN-US style='font-size:27.0pt;font-family:
"Helvetica",sans-serif;mso-fareast-font-family:"Times New Roman";color:#333333;
mso-font-kerning:18.0pt;mso-ansi-language:EN-US;mso-fareast-language:EN-US'>
                SOFTWARE
                MANAGEMENT SERVICES SARL (“SMS”) TERMS OF USE<o:p></o:p>
            </span>
        </b>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            This agreement sets out the legally binding terms
            of your use of the services provided by SOFTWARE MANAGEMENT SERVICES SARL
            (hereinafter referred to as &quot;SMS&quot; or &quot;Services&quot;) to you
            (hereinafter referred to as &quot;End User,&quot; &quot;You&quot; or
            &quot;Your&quot;), and may be modified by SMS from time to time, such
            modifications to be effective upon posting of the modified agreement.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            By accessing, using and/or registering for the
            services provided by SMS, you agree that you have read and understand this End
            User Terms of Service and all of its contents (hereinafter referred to as this
            &quot;Agreement&quot;), intend this Agreement to be the legal equivalent of a
            signed, written contract and equally binding, and that you will be subject to
            all of the terms and conditions set forth herein. You agree to review the
            Agreement periodically to be aware of any such modifications, additions,
            deletions or other changes, and your continued access, registration and/or use
            of the Services shall be deemed your acceptance of the modified agreement.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>OVERALL AND GENERAL TERMS<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            SMS (also, &quot;we&quot; or &quot;us&quot;)
            provides products, services, related offerings, software, websites and
            sub-websites all offering features and functionalities (&quot;Product&quot; or
            &quot;Products&quot;). These Products are each subject to these Terms of Use. SMS
            may revise these Terms as well as any operating policies that we may post on
            our website or sub-sites. Such rules and guidelines are specifically
            incorporated into these Terms of Use by reference (collectively, &quot;The
            Agreement&quot;). SMS may revise this Agreement for any commercially reasonable
            purpose.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            Future performance by SMS under this Agreement
            constitutes legal consideration for such revisions. These revisions take effect
            when SMS notifies you of them, either through e-mail or website announcement,
            and you should stop using SMS's Products and cancel your account if you do not
            agree to these revisions. When you log into your SMS account, or when you
            access any SMS product, including ATREEMO LITE and other Products, you accept
            this Agreement for yourself and any organization that you represent
            (collectively, &quot;You&quot;). <span style='mso-spacerun:yes'> </span><o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>DESCRIPTION OF SERVICES<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            ATREEMO LITE enables the End User to manage
            customer lists from pre-approved data partners and send customers or segments thereof
            electronic messages which including a range of interactive features. Any new
            feature, enhancement, addition, change or upgrade to the current Service shall
            be subject to the terms and conditions set forth in the Agreement herein. You
            acknowledge that SMS reserves the right to modify or discontinue any of its
            services in whole or in part with or without notice.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>COMMUNICATION WITH USERS<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            SMS is permitted to inform you of changes to this
            website and/or sub-sites, its Products, this Agreement or its Fee Schedule. It
            is likewise permitted to inform you of breaches of this Agreement and any
            actions taken regarding your privilege to access the Products. However, it
            shall not be obligated to send notice if the Agreement does not require it.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            SMS shall also have the authority to monitor and/or
            record its phone conversations and <span class=GramE>text</span> chats with you
            for quality control, for training purposes, and for its own legal protection.
            You warrant that anyone who has authorization to use your account likewise
            consents to such monitoring and/or recording. You agree that none of this
            obligates SMS to record any communication from you, and you acknowledge that
            some communications will not be recorded or be available to be retrieved. <o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            As part of this agreement, you acknowledge that we
            may occasionally provide best practice tips and frequently asked questions on
            complying with any applicable laws, including any sample offer terms or our
            customer privacy policy. With this agreement, you agree that this information
            is given to you as a convenience, and that this information does not constitute
            legal advice. As such, no legal advisor-client relationship will be built or
            formed, and we do not guarantee or warrant that compliance with this info will
            be enough to comply with third party rights or applicable law.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>INTELLECTUAL PROPERTY<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            SMS solely and exclusively owns all intellectual
            property and other rights, title and interest in and to the SMS products and services.
            All Products provided by SMS and its licensors through the Services are the
            sole and exclusive property of SMS, and any unauthorized use of the Services may
            violate EU copyright laws, patent laws, moral rights laws, trade secret laws,
            confidential information laws, trademark laws, unfair competition laws or other
            similar rights.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-ansi-language:EN-US;mso-fareast-language:
EN-US'><o:p>&nbsp;</o:p></span>
    </p>

    <p class=MsoNormal style='margin-top:11.25pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>LICENSE<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            SMS grants you a limited, nontransferable,
            nonexclusive, revocable license to access and use the Services and send,
            compose, read, print, save and forward messages containing the Content as
            described and limited in this Agreement. You hereby agree to access and use the
            Services for their intended purposes, are hereby prohibited from <span class=SpellE>utilising</span> the Services for any other purpose or to alter
            the Content and/or Services in any way, including, but not limited to, removing
            or deleting any proprietary rights notices. This license does not include the
            right to collect or use information contained on the Site or through the
            Services for purposes prohibited by SMS, to compete with SMS, create derivative
            works based on any and all Content obtained through the Services, or download
            or copy any Content obtained through the Services (other than page caching). In
            addition, you may not modify, copy, distribute, transmit, display, perform, reproduce,
            publish, license, transfer any content, information, documents, graphics or
            other materials or Content obtained through your use of the Services, in whole
            or in part, for commercial or non-commercial purposes. License to use the
            Services is limited to personal use by the End User; therefore, resale or
            commercial use of the Services or any other means to seek financial gain from
            providing the Services to any third party, without the express prior written
            consent of SMS, is strictly prohibited. By using the Services, you acknowledge
            and agree that portions of the Content is provided to you by third-party
            licensors, and you hereby agree to adhere to and comply with any such
            third-party's license(s) and to refrain from violating any such licensor's intellectual
            property rights. If you use the services in a manner that exceeds the scope of
            this license or breaches this Agreement, SMS may revoke the license granted to
            you.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>END USER OBLIGATIONS<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            By accessing, using and/or registering for the
            Services, you agree to: a) provide true, accurate, complete and current user
            information, as requested by SMS at any time; b) promptly and regularly update
            your user information to maintain its accuracy and completeness; c) provide for
            your own access to the Internet and pay any fees or costs relative to such
            access that is required to access the Services; d) provide all necessary
            equipment and/or materials necessary for you to make such connection to the
            Internet in order to access, use and/or register for the Services.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            By providing any user information that is untrue,
            inaccurate, incomplete and/or not current, SMS reserves the right to suspend or
            terminate your account and refuse any and all current or future use of the
            Services, in whole or in part, by you. On occasion, we may ask you to sign an
            affidavit verifying the fact that your customer list is truly permission based.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            When requested, you agree to provide current,
            complete and truthful information about yourself and/or your organization. You
            agree to update any such information when it changes.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>END USER PRIVACY<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            SMS will not monitor, edit, review or disclose the
            contents of any Messages composed and/or sent by an End User to a third-party
            recipient without End User's prior permission, unless: a) as required by law;
            b) in compliance with legal authorities or during any legal proceeding; c) to
            enforce this Agreement; d) to respond to any good faith belief or claim that
            such Message, or any of its contents, violates the rights or interests of any
            third party or violates this Agreement; and/or e) to protect the rights and/or
            property of SMS, its licensors or any other third party.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            As an End User composing and/or sending such
            Messages, you acknowledge and agree that technical processing of the Messages
            is required in order to send and receive such Message, to conform to the
            technical requirements of connecting networks, to conform to the limitations of
            the Services and their equipment, to conform to other similar technical
            requirements, or as otherwise noted in the SMS Privacy Policy.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            ATREEMO LITE follows all EU principles that are part
            of the new GDPR regulations. The person mentioned as the data controller gives
            his or her consent for the international transfer of data and authorizes any SMS
            team member to manage said information after a support request. If you have
            questions about how we handle your data, contact us at&nbsp;
        </span><a href="mailto:dataprotection@acteol.com">
            <span lang=EN-US style='font-size:12.0pt;
font-family:"Helvetica",sans-serif;mso-fareast-font-family:"Times New Roman";
background:yellow;mso-highlight:yellow;mso-ansi-language:EN-US;mso-fareast-language:
EN-US'>dataprotection@acteol.com</span>
        </a><span class=MsoCommentReference>
            <span style='font-size:8.0pt'>.</span>
        </span><span lang=EN-US style='font-size:12.0pt;
font-family:"Helvetica",sans-serif;mso-fareast-font-family:"Times New Roman";
color:#525252;mso-ansi-language:EN-US;mso-fareast-language:EN-US'><o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>MONITORING<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            Despite not having any obligation to do so, we
            reserve the right to monitor any content that you've provided by using our
            site, services, community or marketplace. We reserve the right to block or
            delete any campaigns or messages, delete content including registration for
            events, promotions, deals, or social campaigns, if we feel it violates our
            Terms of Use or applicable laws. In no case will our monitoring or related
            actions make SMS liable or responsible for compliance with applicable
            obligations or laws, for which you alone are solely liable or responsible.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>FAIR USE<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            Whenever SMS uses the word Unlimited with regard to
            image storage on our site, the fair usage of that is not to exceed 100
            Megabytes of storage. The maximum number of emails you can send from ATREEMO
            LITE in a month is four times (4X) the number of <span class=SpellE>emailable</span>
            customers you have in your customer list.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>AUTOMATED DATA COLLECTION<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            You allow us to collect data from your site using
            automation, and this may include cookies, and that the data gathered is used
            for our own internal purposes. At SMS, we may obtain information that you give
            us in connection with how you use our site, our products (this includes email
            addresses, phone numbers, addresses, and other info from your customer list)
            and content (this includes information from third party websites).<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            We will never rent or sell the information from
            your customer list and we will never use information from our customers for any
            purpose or goal other than providing our services and products. If we, at any
            time, amend or change the policy in the previous sentence, we will give
            advanced notice of such changes, revisions or amendments. In return for this,
            you deliver to us a non-exclusive, royalty-free, worldwide, non-revocable license,
            with the right to publish, distribute, display, sublicense, and use information
            from customers only as needed by us to operate and offer our service and
            related products.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>END USER CONDUCT<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            SMS completely forbids Websites, services or
            products by any people who: Sell, provide, offer or offer to sell the following
            types of content, products or services within the realm of: sexual goods,
            pornography, pornographic services or anything related to those types of
            products, services or goods. This includes (but is not limited to): videos,
            software, magazines, escort services, illegal goods, drugs, accessories or
            contraband related to drugs, pirated software, or instructions or education on
            how to create grenades, bombs, illegal arms or other weapons.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            Markets, displays or offers any material that
            exploits children or minors (anyone 18 years old and under).Offers, promotes,
            sells or provides either services or content related to commercial email spam,
            which includes but is not limited to: illegal, Web-based or even direct
            pharmaceutical sales. This also includes sex or sex-related products.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            Provides, markets or offers any offensive material
            that expresses prejudice, racism, bigotry, hatred, profanity, or any material
            that uses lewd, excessively violent, lascivious, dirty, or other questionable
            and objectionable content.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            Provides, posts, markets or offers personal
            information about children or minors (anyone 18 and under) without the
            permission of their parents or legal guardians.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            Promotes, posts or offers any type of product or
            service that is illegal in the geographic area of where the content is created,
            sent from or received.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            Distributes or unleashes nefarious computer or
            technology related items that include but are not limited to viruses, harmful
            code, <span class=SpellE>trojans</span>, key-logging software or other types of
            spyware. Distributes, promotes, posts or offers services or content that
            solicit participation in pyramid or <span class=SpellE>ponzi</span> schemes,
            multi-level or channel (MLM) businesses or services that include but are not
            limited to work at home jobs, &quot;get rich quick&quot; schemes, services or
            content that offers ways to &quot;build wealth&quot; or become
            &quot;financially independent&quot;.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            Distributes content that could be considered
            threatening, defamatory, libelous or harassing. Promotes or solicits material
            that encourages violence or subterfuge against organizations, governments,
            groups, individuals or public figures, or sends out or promotes anything that
            gives instruction or assistance in carrying out aforementioned violence or
            behavior. Distributes or uses any content not owned by the sender including
            photos, artwork or content without the express written consent of the owner, or
            distributes any material that identifies or displays images of people without
            their express written consent.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            SMS will not monitor, edit, review or disclose the
            contents of any Messages composed and/or sent by an End User to a third-party
            recipient without End User's prior permission, unless: a) as required by law;
            b) in compliance with legal authorities or during any legal proceeding; c) to
            enforce this Agreement; d) to respond to any good faith belief or claim that
            such Message, or any of its contents, violates the rights or interests of any
            third party or violates this Agreement; and/or e) to protect the rights and/or
            property of SMS, its licensors or any other third party. As an End User
            composing and/or sending such Messages, you acknowledge and agree that
            technical processing of the Messages is required in order to send and receive
            such Message, to conform to the technical requirements of connecting networks,
            to conform to the limitations of the Services and their equipment, to conform
            to other similar technical requirements, or as otherwise noted in the
        </span><a href="../../Simon%20Wallis/Documents/Documents/ASS/2018/ATREEMO%20LITE/Atreemo%20Lite%20Privacy%20Policy%2025042018.docx">
            <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-ansi-language:EN-US;mso-fareast-language:
EN-US'>SMS Privacy Policy that you can view here</span>
        </a><span lang=EN-US
                  style='font-size:12.0pt;font-family:"Helvetica",sans-serif;mso-fareast-font-family:
"Times New Roman";color:#525252;mso-ansi-language:EN-US;mso-fareast-language:
EN-US'>.<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            SMS reserves the right to show clients' logos and
            names on our site as representing that they use our service for advertising
            purposes only. <o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>PRACTICES<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            By accessing, using and/or registering for the
            Services, you shall not use the Services, in whole or in part, in any way, for
            the purpose of composing and/or sending chain letters, junk electronic mail,
            &quot;spam,&quot; or any purpose that involves the <span class=SpellE>utilisation</span>
            of distribution lists to any third party business or individual that has not
            given express specific permission to be included in such a distribution list.
            Any electronic mail advertisement that is composed and addressed to a third-party
            recipient with whom the sender does not have an existing business, commercial
            or personal relationship and which is not sent at the express request or
            consent of the recipient to receive such a Message from you is strictly
            prohibited (hereinafter referred to as &quot;Spamming&quot;).<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            The definition of &quot;Spamming&quot; is
            determined solely by SMS's internal evaluation system, which involves numerous
            data points, including such things as your complaint rate, adherence to the
            Electronic and Privacy Communications Act 2003, bounce rate, complaints from
            ISPs and feedback from blacklisting services and other criteria we may deem
            appropriate.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            SMS reserves the right to immediately terminate any
            End User's license to access and/or use the Services if such End User uses the
            Services, in whole or in part, for Spamming purposes, and SMS reserves the
            right to seek appropriate legal action as necessary for any such violation. If
            you reasonably believe that any user may be using the Services for Spamming
            purposes, you hereby agree that you will promptly notify SMS of any such
            violation.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>7 DAY LIST DELETION POLICY<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            SMS does not allow any client to delete a list
            within 7 days of a campaign being sent to it. This is done to prevent abuse in
            regards to unlimited or high volume sending.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>CONTACT LISTS<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            You warrant that you will use customer lists with SMS
            Products only if all recipients have agreed to receive your communications by
            channel (email or SMS). You agree that you will not accept consent through
            participation in surveys, registrations, or through contact on social media
            sites, unless you specifically request confirmation to send such communications
            by email or by SMS and the recipient has specifically consented. <o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>LIMITATIONS ON MASS DISTRIBUTION<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            You agree that you will not use SMS Products to
            distribution lists, newsgroups, publicly available media addresses or purchased
            email addresses. SMS may take any permitted legal measure, without notice, to
            prevent unsolicited bulk emails, messages or campaigns from using SMS's
            network.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>REPRESENTATIONS<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            You warrant that, in using SMS Products, you will
            represent yourself and/or your organization truthfully and accurately, and will
            not attempt to pose as any other person or organization, real or fictional. You
            warrant that you will be the sole designated &quot;Sender&quot; of any message
            you cause or permit to be sent using SMS Products.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            You agree that any email you send using a SMS
            Product will truthfully and accurately represent you and/or your organization,
            product or service in the &quot;Sender/From&quot; and &quot;Subject&quot;
            section of the email heading. <o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>UNSUBSCRIBE OPTIONS<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            You agree that every email sent using SMS Products
            will contain a link allowing recipients to unsubscribe from your mailing lists.
            Such emails must also contain a link to a Customer Privacy Policy&nbsp;that
            shall remain valid for no less than 60 days after you send the email. SMS
            reserves the right to review and/or revise these links to its sole
            satisfaction, and you warrant that you will not attempt to remove, alter or
            disable such links.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>COMMERCIAL ADVERTISEMENTS<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            You warrant that you will not use SMS Products to
            send emails that primarily promote commercial advertisements, products or
            services, to anyone who has opted out of or protested at receiving such
            messages.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>FOOTERS<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            For each campaign or message you distribute or send
            using our service, you agree that we might link to our site or add a button
            that says &quot;ATREEMO LITE EMAIL&quot;, &quot;Trusted Email by ATREEMO LITE
            Email&quot;, or other branding, as long as the button or link does not
            interfere, obscure or distract from the campaign or message.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>END USER CONTENT AND SECURITY<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            Maintaining your password and the security of your
            account is your responsibility. We will accept any instructions by any
            individual who enters your username and password, as long as this person is
            either the account holder or someone authorized to use the account. We may use
            email, a phone call or a third-party service to verify this access. Whether you
            sign up as a user as an individual or organization, we are not familiar with
            your organizational structure, nor your personal relationships (if you use our
            service as a person, not an entity or organization). You are liable for any
            activity that happens under your password and username or your authorized
            users. If you or your authorized users misuse your account, assets or contact
            lists, we may terminate the account without warning. As part of this agreement
            you agree to notify us of any activity on your account that is unauthorized or
            violates our Terms of Use and security practices.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>USER-SUBMITTED CONTENT<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            You, as the End User, have the sole and exclusive responsibility
            for any content, data, text, software, music clips, sound, video, photographs,
            graphics, messages, files or other material that is transmitted, posted or
            otherwise distributed by you through the Services (hereinafter referred to as
            &quot;End User Content&quot;), including, but not limited to, the contents of
            your electronic mail communications, the contents of your social media pages,
            photographs posted by you on the SMS Site or through the Services. As such, you
            assume sole liability for all End User Materials posted by you, whether
            publicly or privately posted and/or transmitted. SMS is not responsible and
            holds no liability relative to monitoring the End User Content provided through
            the Services, and does not warrant, guarantee or represent, in any way, the
            accuracy, quality and/or integrity of the End User Materials. By <span class=SpellE>utilising</span> the Services, you acknowledge that you may be
            exposed to content or other materials submitted by third parties or other users
            that may be offensive, indecent or otherwise objectionable, and that SMS is
            held harmless from any liability resulting or arising out of same. Likewise, SMS
            shall not be held liable for any errors or omissions in any content or for any
            loss or damage incurred as a result of the use of any content transmitted
            through the Services.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>USE OF SERVICE AND STORAGE LIMITATIONS<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            SMS may, at its sole discretion, establish and
            enforce general practices, policies and limitations with regard to your use of
            the Services, including, but not limited to: a) the maximum number of day(s)
            that electronic mail messages or other uploaded content will be stored by the
            Services; b) the maximum number of electronic mail messages that may be sent or
            received by your account through the Services; c) the maximum size of any
            electronic mail messages that may be sent or received by your account through
            the Services; d) the maximum disk and/or server space that will be allotted to
            you on SMS's servers for your use of the Services; and/or e) the maximum number
            of instances and duration which you may access the Services in a given period
            of time.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            SMS makes no assurances or guarantees of access to
            our logs or how long we keep logs of access or deleted items on customers’
            accounts<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            The amount of electronic mail storage on SMS's
            server allotted to you for your use of the Services is limited; however,
            additional storage space for electronic mail messages may be available to you
            upon payment of additional fees. SMS shall not be held liable for the deletion
            of an electronic mail message or the failure to compose or send an electronic
            mail message through use of the Services, nor is SMS liable for electronic mail
            messages that are not processed or sent due to space limitations or outbound
            message limitations. SMS reserves the right to log off the account of any end
            user which has been inactive for an extended period of time, at the sole
            discretion of SMS. SMS further reserves the right to modify, add to or
            otherwise change these practices, policies and limitations at any time, with or
            without notice to you, at its sole discretion.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>USE LIMITATIONS<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            As a customer, these Terms of Use assume that you
            understand that not every campaign or message sent through our service or
            website will be viewed by your recipients. You also understand that message
            delivery through the service or site might involve transmitting messages over
            different networks, and in that process (including text and photos) may be
            changed, reformatted or adjusted to fit the technical or format needs <span class=GramE>of</span> said networks. By agreeing to this TERMS OF USE, you
            understand that any text messages that exceed the maximum limitation of
            characters may be shortened, reduced, truncated, or even abbreviated.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            As part of this TERMS OF USE, you agree that the
            company may set standards, limits and general practices in regards to the
            service, product or site, including and without limitation on the maximum
            number of campaigns or messages sent by you and the maximum size of campaigns
            or messages that are sent or transmitted through the service, site or product.
            We at SMS can revise, change, modify, suspend or discontinue any of our
            products or services, in part or whole, either permanently or temporarily
            without any notice. By agreeing to this TERMS OF USE, you acknowledge that we
            are not required to update or support our products. If we decide to discontinue
            or halt the site or service completely, we will provide advanced notice and
            allow you to cancel your account.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>FEES, PAYMENTS AND TAXATION<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            When you sign an End User agreement with SMS you
            will be subject to any applicable Fee Schedule. The Fee Schedule may change at
            our sole discretion at any time; if you disagree with any change, you agree to
            cancel your account. SMS agrees that it will attempt to notify you in good
            faith before any major Fee Schedule modification, but it remains your
            responsibility to periodically review your fees. Fees will apply every month
            even if you do not use a Product in that time period, and you agree that SMS's
            measurements of your fees are definitive in determining the amount you owe
            under this Agreement.<span style='mso-spacerun:yes'>  </span>If you have
            purchased your license to use the Services from a SMS partner, your fee
            schedule will be made directly with the Partner.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>DISPUTES<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            You must submit any disputes of charges under this
            Agreement within 60 days of the charge. You agree that failing to submit a
            dispute during that time period shall render all charges final and irrefutable.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>PAYMENTS<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            Payments will be made in advance for Products via bank
            transfer to SMS designated bank account. All payments must be made in Euros. If
            you purchased your license to use the Services from an SMS Partner, your
            payment arrangements will be made directly with the Partner<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>TAXATION<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            SMS or SMS Partners may need to collect sales tax
            from you if you are in certain localities, including (but not limited to)
            jurisdictions that levy taxes on software that is delivered as a service and
            where SMS has a legal physical presence. The address that you provide to SMS
            will determine any jurisdictional taxes.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>TERMINATION<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            As End User of the Services, if you disagree and/or
            are dissatisfied with the Services, in whole or in part, or with any provision
            of this Agreement, in whole or in part, or any subsequent modifications
            thereto, it is your sole and exclusive obligation and remedy to terminate your
            End User account, for any reason and at any time.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            To terminate your account, you must immediately
            discontinue your use of the Services, notify SMS or, if you have purchased your
            license to use the Services through a SMS Partner, notify the SMS Partner of
            your intention to terminate your End User account, and destroy all content and
            materials obtained through your use of the Services, all related documentation
            and any originals or copies of same. Upon execution of the termination process,
            you must cease all use of the Services immediately, and any license granted to
            you by SMS or a SMS Partner to use the Services will be revoked. Termination of
            this Agreement and your End User account to use the Services shall not have any
            effect on your obligations to SMS or a SMS Partner under any other agreement or
            policy relating to the SMS Services. Upon termination of your End User account,
            SMS shall not be liable, in any way, to you or any third party for termination
            of your use of the Services, and SMS shall not be obligated to forward any
            unread, unsent or unprocessed electronic mail messages to you or any third
            party. SMS reserves the right to immediately terminate your End User account
            and your access to the Services for any violation of the terms and conditions
            set forth in this Agreement, with or without prior notice to you, for any reason
            in SMS's sole and exclusive discretion.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            Upon termination of your End User account and your
            access to the Services, you must destroy all content and materials obtained
            through your use of the Services, all related documentation and any originals
            or copies of same. Upon termination of your End User account by SMS, SMS
            reserves the right to immediately delete all electronic mail messages in your
            End User account and prohibit any and all further access to those electronic
            mail messages and/or your use of the Services. All Terminations by SMS for
            spamming abuse are absolutely non-refundable without exception.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>CANCELLATION POLICY<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            The use of <span class=SpellE>Atreemo</span> Lite
            is for an initial period of 12 months, after which the notice period is 3
            months. We do not prorate or refund our services. To cancel your account please
            refer to the SMS Partner from whom you purchased your license to use the
            Services.<b><o:p></o:p></b>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>WARRANTY DISCLAIMER: RELEASE AND REMEDIES<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            You agree that SMS products and service (which
            includes custom offerings) are provided on &quot;As available&quot; and an &quot;As
            is&quot; basis. By using these products and any related services or products,
            which includes any action you take related to you reliance, is your risk. At SMS,
            we will not warrant this type of use of the services or products, and we do not
            claim that our products or services will be free of errors or without
            interruption. We offer no guarantee or warranty of your results from our
            products and services. We disclaim any warranties, <span class=GramE>
                both
                implied or
            </span> otherwise, of fitness for a purpose, non-infringement or
            merchantability of the products or services. We will make no statement, written
            or oral, that will create warranty that is not specifically explained or
            contained in this agreement. If you breach the terms and conditions of any
            third party services or third parties, we are not responsible or liable. We are
            not liable for the reliability or accuracy of any third party services,
            opinion, advice, content or statements, which includes hosted events, services,
            products or surveys that is used or purchased from other customers or third
            party services. Any claim you assert after 12 months from the action underlying
            such claim will not be considered valid. We will make commercially reasonable
            strides to repair the products or services related to the claim, as a remedy
            for nonperformance or failure of the services or products.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            As the law permits, you release us from any
            liability or claims related to content on your site, materials you use with the
            site, products or services, the conduct of other customers, their subscribers,
            or issues that relate to the remote access of your devices or computers that
            allows our personnel to troubleshoot our services, products and sites. <o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>LIMITATION OF LIABILITY<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            With the exception of a death or injury that
            relates to our negligence, to the maximum extent of the law, under no
            circumstances or legal theory, tort, contract or otherwise, shall we or any of
            our partners, service providers, account providers, employees, third party
            suppliers, distributors or agents (named in this document as SMS), be liable
            for damages, monetary or otherwise, stemming for indirect, direct, special,
            cover or incidental reliance or consequential damages, even if we at SMS have
            been informed that these damages are possible, and for claims by any other
            party, regardless of the way or form of action, in contract tort, which
            includes product liability and negligence.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US;mso-bidi-font-weight:bold'>
            The maximum liability
            that we at SMS are liable for is limited to what you paid for the use of our
            products, site or services in the year prior to the applicable claim, less
            damages that were already paid by SMS in that same 12-month period of time. <o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            With this document, you acknowledge and agree that
            we determine our pricing in reliance on the limitations of liability and
            disclaimers of warranty set forth here, and that they reflect the allocation of
            risk between our company and you, forming a critical basis between the two
            parties.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>MODIFICATIONS<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            SMS reserves the right to modify and/or discontinue
            the Services, whether temporarily or permanently, with or without notice to the
            users, and SMS shall not be liable to you or any third party for any such
            modification and/or discontinuance of the Services. SMS further reserves the
            right to make revisions, modifications, additions, deletions or any such
            changes to this Agreement at its sole discretion, at any time, with or without
            notice to its users.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>INDEMNIFICATION<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            You agree to indemnify and hold SMS, subsidiaries,
            affiliates, officers, agents, representatives, successors, members, principals
            and other partners and employees harmless from any loss, liability, claim or
            demand, including reasonable legal fees, made by any third party due to or arising
            out of your use of the products or services set forth in this Agreement and/or
            arising from a breach of this Agreement and/or any breach of your representations,
            obligations and warranties set forth above. SMS reserves the right to assume
            the exclusive defense and control of any matter otherwise subject to
            indemnification by you, and you shall not, in any event, settle any matter
            without the written consent of SMS.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>BENEFICIARIES (THIRD PARTY)<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            Nothing in this agreement, implied or expressed, is
            meant to confer upon any person other than the respective and permitted
            successors, or assigns of the parties, any obligations, liabilities, remedies,
            or rights.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>BINDING CONTRACTS<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            Only individuals and organizations that can enter
            into legally binding contracts may use SMS Products. If you use its Products on
            behalf of an organization, you represent that you have the authority to bind
            the organization by such use.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>ASSIGNMENT<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            You may not assign any of your rights hereunder. We
            may assign all rights to any other individual or entity in our sole discretion
        </span><span class=MsoCommentReference><span style='font-size:8.0pt'>.</span></span><span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'><o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>LEGAL FEES<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            If any action or process to enforce these rights
            takes place, the prevailing party will be permitted and entitled to recover
            legal fees and costs.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>JURISDICTION<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            If there is any dispute about or involving the
            Services provided by SMS, by using the Services, you agree that the dispute
            will be governed by the laws of the United Kingdom without regard to its conflict
            of law provisions. You agree to personal jurisdiction by an arbitrator or
            mediator and the courts of the United Kingdom. Any controversy or claim arising
            out of or relating to this Agreement, or the breach thereof, shall be settled wherever
            possible by arbitration or mediation.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            INTERNATIONAL USE: PROHIBITED BY RESTRICTIONS AND
            LAWS<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            In regards to the global and international nature
            of the web, you must comply with local rules where you live or your
            organization resides. More specifically but without any limitation, you must
            comply with any applicable laws in regards to the transmission or transfer of
            technical data that is exported to or from the EU or the place where you live
            or dwell. Our products are operated by us from our offices in London, and we make
            no promises that our products or services are available or appropriate for use
            in other countries and locations. If you access our products or service from
            other countries, you do so at your own risk and are responsible for full
            compliance with any rules, laws or regulations of those locations. Our site is
            not offered in places where it is prohibited by law. In accordance with the
            European Directive 95/46/EC and any applicable implementing laws in your
            jurisdiction, including and in respect to subscriber or customer personal data,
            you agree that we are a data processer and you are a controller of data, and
            you must comply with any obligations within your role as a data controller
            (under applicable laws). You also warrant that third parties to whom you resell
            licenses to use the Services will comply with their legal obligation as data
            controllers. We agree to process your customer and subscriber data per and in
            accordance with your instructions, the instructions in this agreement, and any
            other instructions that are given in the future. We will continue to take
            adequate organizational and technical measures against the unlawful or
            unauthorized accidental loss, destruction, damage and processing of your
            customer data (
        </span><a href="../../Simon%20Wallis/Documents/Documents/ASS/2018/ATREEMO%20LITE/Atreemo%20Lite%20Privacy%20Policy%2025042018.docx">
            <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-ansi-language:EN-US;mso-fareast-language:
EN-US'>see privacy statement</span>
        </a><span lang=EN-US style='font-size:12.0pt;
font-family:"Helvetica",sans-serif;mso-fareast-font-family:"Times New Roman";
color:#525252;mso-ansi-language:EN-US;mso-fareast-language:EN-US'>).<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>MINIMUM BINDING AGE<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            Our site, services and products are only available
            to organizations or people who can sign legally binding contracts under any
            applicable laws. Our service, sites or products are not available to anyone
            under the age of 18, so if you are not at least 18 years old, you cannot use
            our site or products. If you use our site, service or products on behalf of any
            organization, you warrant and represent that you are able to bind such
            organization by your very use of our products or site.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>SEVERABILITY<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            If any term or provision of this Agreement is
            determined to be illegal, unenforceable or invalid in whole or in part for any
            reason, such illegal, unenforceable or invalid provision(s) or part thereof
            shall be stricken from this Agreement, and such provision(s) shall not affect
            the legality, enforceability or validity of the remainder of this Agreement. If
            any provision or part thereof is stricken in accordance with the provisions of
            this section, then this stricken provision shall be replaced, to the extent
            possible, with a legal, enforceable and valid provision that is as similar in
            tenor to the stricken provision as is legally possible.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>THIRD-PARTY SITES AND SERVICES<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            Our products and services use many social tools
            that could let you access, manage content and post content on social media
            networks. Our tools also may enable you to use our products to analyze and
            access information on social networks. You grant us permission to access those
            sites and give you this particular functionality.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            Our products might link to other sites controlled
            by third parties and may access third-party services, which could include
            social bookmarking, social networking, payment processing and payment services
            listed as a third-party service (PayPal, Google Wallet, etc.). While these
            links are provided as merely a convenience to you as a customer, we are not
            affiliated with them, and you use them at your own risk. We have no control of
            any third-party service accessed from our products or services, nor do we
            assume any reasonability for their TERMS OF USE, privacy policy, or practices
            of these services or sites. These sites may have TERMS OF USE and guidelines
            different from our own, and you are urged to review and study those policies
            and terms before you use those services.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            You agree to follow and abide by the TERMS OF USE
            of third-party services, and must abide by this TERMS OF USE, even if there's
            anything in those third-party terms that contradict our terms of service. You
            may not use third-party TERMS OF USE to circumvent restrictions in our terms.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            We may terminate the ability of any of our
            third-party services or partners to access or interact with our site, with no
            liability to the third party or you. These third-parties may try to take steps
            to change or impact our ability to provide you with some or all of our features
            at any time, and we will not be liable for any of these actions. We at SMS
            accept no responsibility for third-party content, policies, quality, nature or
            reliability. To use our services or site, you must have a social media account
            or email address that is valid. Paying third-party fees associated with those
            networks and services is your sole responsibility. You also agree that the
            ability to <span class=SpellE>utilise</span> features associated with third
            parties may be subject to TERMS OF USE, capacity charges, contracts or
            expenses, all that are your responsibility, and may be established by your
            internet service provider, email service, or other service providers, which are
            your responsibility alone. You agree that the use of our product does not
            violate any restrictions or TERMS OF USE by your email provider, or other
            applicable service providers. In no way will any reference to third-party
            products or services be seen as an endorsement of those third-party services or
            products.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>FULL EFFECT AND FORCE OF THIS AGREEMENT<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            If any part of this TERMS OF USE is found to be
            either invalid or unenforceable, that specific provision will be eliminated to
            the minimum necessary extent so that this TERMS OF USE is still enforceable and
            still in full effect.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>FURTHER ASSURANCES<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            As part of this agreement, you agree to execute any
            documents and take actions that are reasonably required to execute any purpose
            of this TERMS OF USE.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>TITLES<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            The titles of the paragraphs within this agreement
            have no legal or contractual effect, and are merely for convenience.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>NO AGENCY<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            No joint venture, partnership, agency or employment
            is created as part of this TERMS OF USE. This gives you no authority to bind us
            in any respect.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:22.5pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:27.75pt;mso-outline-level:3;background:
white'>
        <span lang=EN-US style='font-size:22.5pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#484848;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>ENTIRE AGREEMENT<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:7.5pt;line-height:18.7pt;background:
white'>
        <span lang=EN-US style='font-size:12.0pt;font-family:"Helvetica",sans-serif;
mso-fareast-font-family:"Times New Roman";color:#525252;mso-ansi-language:EN-US;
mso-fareast-language:EN-US'>
            This Agreement represents the entire agreement between
            you and SMS with respect to your use of the Services, and it supersedes all
            prior or contemporaneous communications and proposals, whether electronic, oral
            or written, between you and SMS with respect to your use of the Services.<o:p></o:p>
        </span>
    </p>

    <p class=MsoNormal>
        <span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Helvetica",sans-serif;mso-fareast-font-family:"Times New Roman";
color:#525252;mso-ansi-language:EN-US;mso-fareast-language:EN-US'><o:p>&nbsp;</o:p></span>
    </p>

    <p class=MsoNormal><o:p>&nbsp;</o:p></p>

</div>



