

@{

    ViewBag.Title = "Time out";
    ViewBag.Message = "";
}
<br />
<br />
<div class="row">
    <div class="col-sm-3 col-md-2 col-lg-1" style="text-align:right;vertical-align:middle">
        <img src="~/Content/images/CustomPages/timeout.png" width="72" />
    </div>
    <div class="col-sm-8 col-md-9 col-lg-10" style="text-align:left">
        <p>
            <b>Looks like you have been away for a while!</b>
            <br />
            <br />
            Your session has timed out so you will need to<a href="~/Account/Login"> <span style="color:blue !important;text-decoration:underline">log back in again</span></a> to get going.
        </p>
    </div>

</div>

