body
{
    font-family: Arial, Helvetica;
    background-position: center top;
    background-color: ColorBackground;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-size: 0;
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}
strong, b {
font-weight: bold;
}
.Logo
{
    width: 80px;
    height: 80px;
    border-width: 0px;
    position: absolute;
    top: 0px;
    right: 100px;
}
.SurveyTitle
{
    background: %%$$££#4DA155%%$$££;
    color: ColorTitle;
    width: 100%;
    /*height: 50px;*/
    font: bold Arial,sans-serif;
    font-size: SizeTitle;
}
.SurveyTitleWhite
{
    background: white;
    color: black;
    width: 100%;
    /*height: 50px;*/
    font: bold Arial,sans-serif;
    font-size: SizeTitle;
}
.TitleSurvey
{
    padding: 10px;
font-weight: bold;
}

.SurveyIntroWhite
{
    background: white;
    color: black;
    width: 100%;
    /*height: 50px;*/
    font: Arial,sans-serif;
    font-size:sizeIntro;
}
.SurveyIntro
{
    background: %%$$££#788978%%$$££;
    color: ColorIntro;
    width: 100%;
    /*height: 50px;*/
    font: Arial,sans-serif;
    font-size:sizeIntro;
}
.GridGuestRowStyle
{
}
.IntroSurvey
{
    padding-left: 10px;
    padding-top: 10px;	
    padding-bottom: 10px;
/*font-weight: bold;*/
}


.BtnAddGuest
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #557a98;
    background-image: -moz-linear-gradient(center top , #557a98, #183d68);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 0;
    padding: 2px 10px 4px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    margin-left: 250px;
}
.BtnAddGuest:hover
{
    background-color: #183d68;
    background-position: 0 -15px;
    color: #FFFFFF;
    font-family: Verdana;
    font-weight: 500;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}

.SIStyle-OPQuestionValidator
{
    width: 17px;
    vertical-align: top;
    text-align: right;
    color: Red;
    font-size:12px;
    padding-top:WhiteSpaceWithinQuestion;
}
.SIStyle-OPQuestionValidatorNameAndAddress
{
width: 17px;
    vertical-align: top;
    text-align: right;
    color: Red;
    font-size:12px;
    padding-top:5px;
}
.OPQuestionNumber
{
    font-size: 16px;
    /*padding-bottom: 7px;*/
    vertical-align:top;
    width: 20px;
    color: Black;
    font-family: Arial, Helvetica;
    font-weight: bold;
    padding-top:WhiteSpaceWithinQuestion;
}
.SIStyle-OPQuestion
{
    margin-bottom: 5px;
    font: medium/1.4 Arial,sans-serif;
    text-decoration: none;
    color: #000000;
    padding-top:WhiteSpaceWithinQuestion;
}
.SIStyle-OPQuestionNumber
{
    font-size: 18px;
    color: #000000;
    /*padding-bottom: 7px;*/
    vertical-align:top;
    font-family: Arial, Helvetica;
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    font-weight: bold;
}


.SIStyle-OPQuestionNameAndAddress
{
    margin-bottom: 5px;
    font: small/1.4 Arial,sans-serif;
    text-decoration: none;
    color: #000000;
     width:236px;
}


.SIStyle-Radio
{
    font: small/1.5 Arial,sans-serif;
}
.SIStyle-Error
{
    color: Red;
    font-size:12px;
}
.SIStyle-Radio-Matrix {
     font: small/1.5 Arial,sans-serif;
     text-align: left; 
max-width: 250px;
}
.SIStyle-Matrix-Header {
     font: small/1.5 Arial,sans-serif;
     text-align: center; 
max-width: 80px;
}
.NewClassLogo {
text-align:$logoPlace$;
}
